{% extends "base.html" %}

{% block content %}
<h1 class="h1reg">Language Pal</h1>
<form class="login_form" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h2 class="h2reg">Выход</h2>
    <div>
        {{ form.mail.label(class="label_reg") }}
        {{ form.mail(class="form-control input_reg", type="email", placeholder="Введите адрес почты") }}
        {% for error in form.mail.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    <div>
        {{ form.password.label(class="label_reg") }}
        {{ form.password(class="form-control input_reg", type="password", placeholder="Введите пароль") }}
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div>{{ form.remember_me() }} {{ form.remember_me.label(class="label_reg") }}</div>
    <div>
        {{ form.submit(type="submit", class="btn btn-info mt-4") }}
    </div>
    <br>
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %}
</form>
{% endblock %}