{% extends "base.html" %}

{% block content %}
<h1 class="h1reg">Language Pal</h1>
    <form class="login_form" method="post">
        <h2 class="h2reg">Выход</h2>
        <div>
            <label class="label_reg" for="email">Почта</label>
            <input type="email" class="form-control input_reg" id="email" aria-describedby="emailHelp"
                   placeholder="Введите адрес почты" name="email">
            <label class="label_reg" for="password">Пароль</label>
            <input type="password" class="form-control input_reg" id="password" placeholder="Придумайте пароль"
                   name="password">
        </div>
        <button type="submit" class="btn btn-info mt-4">Зарегестрироваться</button>
    </form>
    {% endblock %}